[2020-10-04 02:12] Explosion-Scratch opened #1 "This is cool and all, but…"
I am unclear what this'll be used for.

[2020-10-04 14:04] #1 closed, assigned to nobody

[2020-10-08 17:24] Explosion-Scratch opened #2 "I did ideas and thinking a lot..."
^^^ Probably more then documentation....

[2020-10-08 20:41] #2 closed, assigned to nobody

[2020-10-18 17:04] Explosion-Scratch opened #4 "No longer a private repo?"
Why?

[2020-10-18 23:50] Hans5958 commented on #4
What do you mean why? This was supposed to be a public repo, but I made it private because it is not ready yet.

[2020-10-18 23:50] #4 closed

[2020-10-21 01:01] Hans5958 opened #5 "Add allcontributors bot"
Add allcontributors bot on https://github.com/apps/allcontributors/installations/new on this repository, so people add themselves, with an agreement from ours in form of merging the PR. @WorldLanguages

[2020-10-21 15:28] WorldLanguages commented on #5
Done. https://github.com/organizations/ScratchAddons/settings/installations/12523023

[2020-10-21 15:28] #5 closed

[2020-10-21 15:53] Hans5958 commented on #5
Nah, that's an owner-only page.

[2020-10-21 16:04] Hans5958 opened #6 "If you see this, your name will be (or have been) added to the contributor list"
If you see this issue on your issue/PR, your name will be (or have been) added to the contributor list. This list is shown on https://github.com/ScratchAddons/contributors and https://scratchaddons.com/contributors. This is done because no contributions is a wasted effort and we don't want your contributions to be overlooked.

If you don't want your name on the list, please tell us by creating an

[2020-10-21 16:07] Hans5958 commented on #6
@all-contributors add @TheColaber for code

[2020-10-21 16:15] Hans5958 commented on #6
@all-contributors add @pufferfish101007 for ideas

https://github.com/ScratchAddons/ScratchAddons/issues/468#issue-718841575

[2020-10-22 12:02] Hans5958 commented on #6
@all-contributors add @MashimbaTheHuman for ideas

https://github.com/ScratchAddons/ScratchAddons/issues/550#issue-726949045

[2020-10-22 12:02] Hans5958 commented on #6
@all-contributors add @MasimbaTheHuman for ideas

https://github.com/ScratchAddons/ScratchAddons/issues/550#issue-726949045

[2020-10-22 12:04] Hans5958 commented on #6
@all-contributors add samuraininja360 for ideas

https://github.com/ScratchAddons/ScratchAddons/issues/492#issue-721771796

[2020-10-22 12:07] Hans5958 commented on #6
@all-contributors add pufferfish101007 for code

[2020-10-22 12:20] Hans5958 opened #12 "Have contributed? Get your name on the list here! (October 2020)"
# This issue is now locked. Please continue on #71.

So, you have contributed in the Scratch Addons development, whether it's code, docs, or even an idea? If so, you are eligible for your name to be added on the list, and also be featured on https://scratchaddons.com/contributors.

We are following the all-contributors specification, and this repository is the catch-all contributors list on all re

[2020-10-22 12:23] #6 closed

[2020-10-22 12:38] Hans5958 commented on #6
@all-contributors add samuraininja360 for bug report

https://github.com/ScratchAddons/ScratchAddons/issues/493#issue-721773307

[2020-10-22 12:40] Hans5958 commented on #6
@all-contributors add pufferfish101007 for bug

[2020-10-22 12:44] Hans5958 commented on #6
@all-contributors add Explosion-Scratch for bug

[2020-10-22 12:44] Hans5958 commented on #6
@all-contributors add @Explosion-Scratch for bug

[2020-10-29 12:17] Hans5958 commented on #6
@all-contributors add @lisa-wolfgang for ideas

ScratchAddons/ScratchAddons#587 - ScratchAddons/ScratchAddons#596

[2020-10-29 12:17] Hans5958 commented on #6
@all-contributors add @lisa-wolfgang for bug reports

ScratchAddons/ScratchAddons#583 - ScratchAddons/ScratchAddons#585

[2020-10-29 12:51] Hans5958 opened #19 "Better console logs"
Someone should try to make a better console logging for the whole extension. For example:

[code]

![image](https://user-images.githubusercontent.com/11584103/97575954-1a73bb80-1a20-11eb-8704-db8bbcc69db2.png)

I think someone could do better to support multiple arguments (like `console.log("stuff", {"foo": "bar"}`), multiple level category, no category support, etc. Also, I think it is better to

[2020-10-31 23:32] GrahamSH-LLK commented on #6
@all-contributors remove @GrahamSH-LLK

[2020-11-02 17:45] MasimbaTheHuman commented on #6
Wait... how can someone be bug reports and ideas at the same time? @samuraninja360 did it.

[2020-11-02 17:49] GrahamSH-LLK commented on #6
You can be any combination!

[2020-11-02 17:50] GrahamSH-LLK commented on #6
@all-contributors add @MasimbaTheHuman for bug reports

[2020-11-03 13:22] scratchusernamemrtbts commented on #12
Can you add the bug report contributions to my name too?
https://github.com/ScratchAddons/ScratchAddons/issues/627

[2020-11-03 14:14] Hans5958 commented on #12
@scratchusernamemrtbts, use the command above.

[2020-11-04 12:44] scratchusernamemrtbts commented on #12
@all-contributors add scratchusernamemrtbts for bug report

[2020-11-08 17:26] SparkScrach-P opened #22 "SparkScratch_P"
Pls let me contribute..I can help

[2020-11-11 11:59] scratchusernamemrtbts commented on #22
What do you mean?
You can just contribute by reporting bugs or suggesting an idea or sending a pull request

[2020-11-14 17:26] Cool-Scratcher commented on #12
@all-contributors add Cool--Scratcher for bug reports

[2020-11-14 17:27] Cool-Scratcher commented on #12
@all-contributors add Cool-Scratcher for bug reports

[2020-11-14 17:30] Cool-Scratcher commented on #12
@all-contributors add CoolScratcher for bug reports

[2020-11-14 17:31] Cool-Scratcher commented on #12
Okay, I don't know what is wrong with this bot but it isn't working...

[2020-11-14 17:32] Cool-Scratcher commented on #12
@all-contributors add Cool-Scratcher for bug reports

[2020-11-14 17:34] Cool-Scratcher commented on #12
oookay. Sorry. Idk why it isn't working; sorry for the accidental spam

[2020-11-14 17:36] Cool-Scratcher commented on #12
@all-contributors add Cool-Scratcher for bug

[2020-11-14 17:36] Cool-Scratcher commented on #12
nooooo. I'm giving up

[2020-11-15 03:23] Hans5958 commented on #6
@all-contributors add @Cool-Scratcher for bug

[2020-11-15 03:24] Hans5958 commented on #12
@Cool-Scratcher

You should have put an @ symbol before the name. I have did it nonetheless.

[2020-11-15 03:39] Hans5958 commented on #22
Just do it then! We are not restricting any contributions to all of our repositories, whether it's a pull request, a bug report, or even a feedback.

[2020-11-15 03:39] #22 closed

[2020-11-17 14:55] SparkScrach-P commented on #12
What I have done...goes here : Code💻 and Ideas & Planning🤔

🤔ideas | Ideas & Planning
-- | --

🤔ideas | Ideas & Planning
-- | --

🤔ideas | Ideas & Planning
-- | --

🤔ideas | Ideas & Planning
-- | --

🤔ideas | Ideas & Planning
-- | --

🤔ideas | Ideas & Planning
-- | --

[2020-11-17 14:56] SparkScrach-P commented on #12
What I have done, goes here:

🤔 | Ideas & Planning
-- | --

💻 | Code
-- | --

[2020-11-17 15:16] Hans5958 commented on #12
Then just do "@all-contributors add @SparkScrach-P for ideas and code"

It has been done, by the way.

[2020-11-18 19:15] mxmou opened #27 "Docdash contributors are listed on the contributors page"
Title.

[2020-11-18 19:15] mxmou commented on #27
@Hans5958  ^^

[2020-11-20 17:50] wgyt735yt commented on #12
@GrahamSH-LLK did this for me because I couldn't edit the wiki directly. Proof: https://discord.com/channels/751206349614088204/755131743136383107/779401578490101772
@all-contributors add @wgyt735yt for Documentation

[2020-11-21 20:54] wgyt735yt commented on #12
@all-contributors add @wgyt735yt for bug
https://github.com/ScratchAddons/ScratchAddons/issues/689

[2020-11-23 16:10] wgyt735yt commented on #12
@all-contributors add @wgyt735yt for security
https://github.com/ScratchAddons/website/issues/24

[2020-11-25 16:24] SparkScrach-P commented on #12
I had given codes too for my contribution but my emojis on the contributors' page doesn't include the "code" emoji. Pls add it

[2020-11-25 20:47] GrahamSH-LLK commented on #12
You have no code in the repo.

[2020-11-26 03:34] Hans5958 commented on #12
@SparkScrach-P If you have (if!), then do the step that I have told you up there.

[2020-11-26 03:36] SparkScrach-P commented on #12
but I had given codes of how to do it.Can u add a pll reqest to include
"code" pls

On Thu, Nov 26, 2020 at 2:18 AM GrahamSH <notifications@github.com> wrote:

[2020-11-26 13:43] GrahamSH-LLK commented on #12
No. That's not what "Code" means.

[2020-11-26 14:22] SparkScrach-P commented on #12
I had also given a code for the popup that will be seen by clicking that button

[2020-11-28 08:21] SparkScrach-P commented on #12
@all-contributors add @SparkScrach-P  for code

[2020-11-28 09:09] SparkScrach-P commented on #12
thanksa

On Sat, Nov 28, 2020 at 1:52 PM allcontributors[bot] <
notifications@github.com> wrote:

[2020-11-30 03:16] Hans5958 commented on #6
@all-contributors add @Mast3rGenius for code

ScratchAddons/ScratchAddons/#752

[2020-11-30 03:17] Hans5958 commented on #6
@all-contributors add @Daniel4-Scratch for code

ScratchAddons/ScratchAddons/#832

[2020-11-30 03:17] Hans5958 commented on #6
@all-contributors add @qucchia for code

ScratchAddons/ScratchAddons#880

[2020-11-30 03:18] Hans5958 commented on #6
@all-contributors add @mxmou for example

[2020-11-30 03:20] Hans5958 commented on #6
@all-contributors add @TheColaber for example

[2020-11-30 03:20] Hans5958 commented on #6
@all-contributors add @Hans5958 for example

[2020-12-01 21:45] PhoenixAndStuf commented on #12
@all-contributors add @PhoenixAndStuf for idea

[2020-12-02 03:21] SparkScratch-P commented on #12
but spelling is wrong: @SparkScratch_P

[2020-12-03 18:13] Touchcreator commented on #12
@all-contributors add Touchcreator for bug

[2020-12-03 19:50] Touchcreator commented on #12
@all-contributors add Touchcreator for ideas

[2020-12-07 09:49] Secret-chest commented on #12
@all-contributors add mumu245 for ideas

[2020-12-07 09:50] Secret-chest commented on #12
@all-contributors add Secret-chest for ideas

[2020-12-07 09:54] Secret-chest commented on #12
@all-contributors "Secret-chest" for ideas

[2020-12-07 09:55] Secret-chest commented on #12
@all-contributors add @Secret-chest for ideas

[2020-12-07 12:34] areeq0325 commented on #12
@allcontributors add @areeq0325 for bugs

[2020-12-07 12:35] areeq0325 commented on #12
@allcontributors thanks

[2020-12-07 12:35] areeq0325 commented on #12
🤦‍♂️

[2020-12-09 01:22] Marc92020 commented on #12
@all-contributors add @Marc92020 for bug report and  suggestion

[2020-12-09 18:27] areeq0325 commented on #12
@allcontributors add @areeq0325 for ideas

[2020-12-11 06:11] Hans5958 commented on #6
@allcontributors add RustingRobot for translation

[2020-12-13 15:27] GrahamSH-LLK commented on #12
@allcontributors add @WorldLanguages and @apple502j  for translation

[2020-12-13 15:28] GrahamSH-LLK commented on #12
@allcontributors add @apple502j for translation

[2020-12-14 01:55] Hans5958 commented on #12
@GrahamSH-LLK - For the love of god, staff should do this on #6!

[2020-12-14 13:54] GrahamSH-LLK commented on #12
(sorry)

[2020-12-15 01:07] Cool-Scratcher commented on #12
@allcontributors add @Cool-Scratcher for ideas

[2020-12-16 16:25] ahmetlii commented on #12
@allcontributors add @ahmetlii for translating

[2020-12-18 12:27] superscratch444tre commented on #12
@all-contributors add @superscratch444tre for translation

[2020-12-19 17:43] locness3 commented on #12
@all-contributors please add @locness3 for translation

[2020-12-19 20:02] GrahamSH-LLK commented on #12
@all-contributors add @superscratch444tre for translation

[2020-12-19 20:03] GrahamSH-LLK commented on #6
@all-contributors add @superscratch444tre for translation

[2020-12-23 22:17] leahcimto commented on #12
@all-contributors add @leahcimto for bug and ideas

[2020-12-26 18:46] McGithub312 commented on #12
@allcontributors add @McGithub312 for translating

[2020-12-26 18:50] Thomas282-coder commented on #12
@allcontributors add @Thomas282-coder for translating

[2020-12-28 17:58] robloaks commented on #12
@all-contributors add @robloaks for translation

[2020-12-29 08:50] iqnite commented on #12
@all-contributors add @iqnite for translation

[2020-12-29 17:17] gohoski commented on #12
@all-contributors add @gohoski for translation

[2020-12-29 20:39] doruksarp commented on #12
@allcontributors add @doruksarp for translating

[2020-12-29 22:06] anoymousgamerhacker commented on #12
@all-contributors add <anoymousgamerhacker> for <bug, and translation>

[2020-12-29 22:07] anoymousgamerhacker commented on #12
@all-contributors add @anoymousgamerhacker  for bug, and translation

[2021-01-01 23:51] RedGuy12 commented on #12
@all-contributors add RedGuy12 for code, ideas

[2021-01-02 08:43] Secret-chest commented on #12
add @Secret-chest for translations

[2021-01-02 08:46] Secret-chest commented on #12
@all_contribuitors add @Secret-chest for translation

[2021-01-02 08:48] Secret-chest commented on #12
@all-contributors add @Secret-chest for translation

[2021-01-02 22:39] CuriousG2 commented on #12
@all-contributors add @CuriousG2 for bug

[2021-01-04 09:43] iqnite commented on #12
@all-contributors add @iqnite for translation

[2021-01-04 23:09] CuriousG2 commented on #12
@all-contributors add @Curiousg2 for bug report

[2021-01-06 17:15] oof-le-oof commented on #12
@all-contributors add @oof-le-oof for bug report, ideas, bug

[2021-01-06 17:53] Hans5958 commented on #12
Apoloize for the backlog. I will try to finish this in a day or two. Hopefully faster.

[2021-01-08 03:56] SparkScratch-P commented on #12
@all-contributors add @SparkScratch-P for new addons

[2021-01-08 03:58] SparkScratch-P commented on #12
I have not yet translated it but have put up my name and transifex account and want to translate it to Hindi and Bengali and have given my name in the discussion. I don't know how to proceed. am I eligible for the credit now, or after I translate

[2021-01-08 04:05] SparkScratch-P commented on #12
@all-contributors add @SparkScratch-P for Ideas & Planning

[2021-01-10 10:34] maDU59 commented on #12
@all-contributors add <maDU59_> for <translation>

[2021-01-10 10:42] maDU59 commented on #12
Oh, yes, sorry

[2021-01-10 10:42] maDU59 commented on #12
@all-contributors add <maDU59_> for ideas, and translation

[2021-01-10 10:43] maDU59 commented on #12
@all-contributors add <maDU59> for ideas and translation

[2021-01-10 10:46] maDU59 commented on #12
@all-contributors add maDU59 for ideas and translation

[2021-01-11 02:14] Hans5958 opened #71 "Have contributed? Get your name on the list here! (January 2021)"
# This issue is now locked. Please continue on #136.

So, you have contributed in the Scratch Addons development, whether it's code, docs, or even an idea? If so, you are eligible for your name to be added on the list, and also be featured on https://scratchaddons.com/contributors.

We are following the all-contributors specification, and this repository is the catch-all contributors list on all r

[2021-01-11 02:16] Hans5958 commented on #12
Alright, I have merged all pull request up till the last comment. Sorry for the wait.

Also, I am going to lock this issue due to the quantity of comments here. Please continue on #71. Thanks.

[2021-01-11 02:18] #12 closed

[2021-01-14 15:21] Wilamaxin commented on #71
@all-contributors add @wilamaxin for translation

[2021-01-14 17:10] wgyt commented on #71
On the website I appear twice :0 Once as @wgyt and once as @wgyt735yt, I think this might have to do with the .all-contributorsrc file containing wgyt735yt instead of wgyt. Could we also make the link to my site https?

[2021-01-15 03:21] Hans5958 opened #74 "Name change from wgyt735yt to wgyt"
On the website I appear twice :0 Once as @wgyt and once as @wgyt735yt, I think this might have to do with the .all-contributorsrc file containing wgyt735yt instead of wgyt. Could we also make the link to my site https?

_Originally posted by @wgyt in https://github.com/ScratchAddons/contributors/issues/71#issuecomment-760334216_

[2021-01-15 03:22] Hans5958 commented on #71
@wgyt It seems that you changed your username. I have created an issue on #74 regarding this issue.

[2021-01-15 14:34] wgyt commented on #71
Yeah :| That's what happened.

[2021-01-15 14:37] wgyt commented on #74
I think this might have to do with [line 338 of the .all-contributorsrc file](https://github.com/ScratchAddons/contributors/blob/435812f71c379b926f951f1c3cf1cf797d7eea77/.all-contributorsrc#L338) because it says wgyt735yt not wgyt

[2021-01-15 14:49] Hans5958 commented on #74
+A for info, but really, I got this.

[2021-01-15 15:04] #74 closed

[2021-01-15 21:39] superscratch444tre commented on #71
@allcontributors add @superscratch444tre for bug

[2021-02-01 11:03] CyberNat2000 commented on #71
@all-contributors add @CyberNat2000 for translation

[2021-02-10 18:45] ognitrorunne commented on #71
@all-contributors can you add @----Riptide---- for Bug Reports?

[2021-02-10 18:47] Riptide-Scratch commented on #71
@all-contributors can you add @Riptide-Scratch  for Bug Reports?

[2021-02-10 18:47] RedGuy12 commented on #71
@all-contributors<https://github.com/all-contributors> add @ognitrorunne<https://github.com/ognitrorunne> for Bug Reports?

There you go
________________________________
From: allcontributors[bot] <notifications@github.com>
Sent: Wednesday, February 10, 2021 12:45:59 PM
To: ScratchAddons/contributors <contributors@noreply.github.com>
Cc: Paul Reid <paul@reid-family.org>; Manual <manual@noreply.git

[2021-02-16 15:06] scratchusernamemrtbts commented on #71
@all-contributors add @scratchusernamemtbts for translation

[2021-02-17 10:53] scratchusernamemrtbts commented on #71
@all-contributors add @scratchusernamemrtbts for translation

[2021-02-18 03:08] SparkScratch-P commented on #71
@all-contributors add @SparkScratch-P for bug report.

[2021-02-19 04:29] Hans5958 commented on #6
@all-contributors add @Ezlambry for code

[2021-02-19 04:30] Hans5958 commented on #6
TEST

@all-contributors

add @Hans5958 for translation
add @Auto5958 for translation

[2021-02-20 02:52] VFDan commented on #71
@all-contributors add @VFDan for ideas

[2021-02-24 11:35] hatrexpro commented on #71
@all-contributors add hatrexpro for translation

[2021-03-05 23:43] scratchusernamemrtbts commented on #71
@all-contributors add @scratchusernamemrtbts for code
Proof https://github.com/ScratchAddons/ScratchAddons/commit/1ab6616e3e919a7c4e87f5afe14f05a8c695a315

[2021-03-09 14:01] FunctionalMetatable opened #85 "Quick Question"
if you have contributed an idea, and it still haven't been added in yet, does it mean that the person who created the idea is eligible for contributor credit? just asking

[2021-03-09 20:55] RedGuy12 commented on #85
yes

[2021-03-09 20:57] #85 closed

[2021-03-09 20:58] FunctionalMetatable commented on #71
@all-contributors add @FunctionalMetatable for ideas

[2021-03-13 11:19] superscratch444tre commented on #71
@allcontributors add @superscratch444tre for ideas

[2021-03-16 09:03] Barthdry commented on #71
@all-contributors add @CyberNat2000 for translation and issues contributing

[2021-03-16 09:16] Barthdry commented on #71
@all-contributors add @Barthdry for translation and issues contributing

[2021-03-16 09:18] Barthdry commented on #71
@all-contributors add @Barthdry for translation and issues contributing

[2021-03-22 16:16] chewyblockguy commented on #71
@all-contributors add @chewyblockguy for  for feedback

[2021-03-24 15:53] Genius398 commented on #71
@all-contributors add Genius398 for bug, code, and ideas

[2021-03-24 15:54] Genius398 commented on #71
Thanks!

[2021-03-24 15:57] Genius398 commented on #71
@all-contributors add griffpatch for code

[2021-03-24 15:58] Genius398 commented on #71
ok

[2021-03-24 16:00] Genius398 commented on #71
@all-contributors add SetuCoder for code

[2021-03-26 13:43] lightningmc09 commented on #71
so theres a bug where some 404 errors dont get converted to 3.0 pages
@all-contributors add Lightningmc09 for bug

[2021-03-26 13:53] lightningmc09 commented on #71
@all-contributors add lightningmc09 for idea

[2021-04-02 09:35] Hans5958 commented on #71
@all-contributors add lightningmc09 for code and ideas

[2021-04-02 09:36] Hans5958 commented on #71
whoops

@all-contributors add lightningmc09 for bug and ideas

[2021-04-02 12:16] FunctionalMetatable commented on #71
@all-contributors add @FunctionalMetatable for code

[2021-04-05 07:08] Fanjoua commented on #71
@all-contributors add @Fanjoua for youtube video
Put the name **McVincient** instead of Fanjoua

[2021-04-05 13:07] FunctionalMetatable commented on #71
@all-contributors please add @FunctionalMetatable for bug

[2021-04-06 10:23] CodeGuy92 opened #103 "leahcimto.github.io doesn't exist"
In the contributors page, clicking on leahcimto's profile picture takes you to leahcimto.github.io, which does't exist.

Can the website be changed to leahcimto.com?

[2021-04-06 10:25] Secret-chest commented on #71
@all-contributors add Secret-chest for code, translation, ideas

[2021-04-06 10:26] Secret-chest commented on #71
@all-contributors add @Secret-chest for code, ideas, translation

[2021-04-06 14:48] Hans5958 commented on #103
It's better for him/her to create a request him/herself.

[2021-04-06 14:48] #103 closed

[2021-04-06 19:05] TecFuture opened #104 "Not Loading Everything once device is re-opened"
I am @scienceexplorer1 from scratch. I just made github account.

Issue
I am on a chromebook (This issue most likely probably happens regardless to device)
Once I open my chromebook and click on a scratch tab (which was not closed from previous session).
The extension does nothing until you refresh the tab.

Can programs be made to check whether the extension is activated completely on? or it chec

[2021-04-09 17:40] GrahamSH-LLK commented on #12
@allcontributors add @jeffalo for video

[2021-04-19 18:17] iqnite commented on #71
@all-contributors add @iqnite for ideas

[2021-04-22 15:55] RedGuy12 commented on #71
@all-contributors add @RedGuy12 for bug i thought i got it a long time ago

[2021-04-23 08:29] iltersinavv opened #108 "i have contrubuted by translating. its not confirmed by world languages but im not in the contributors list."
**IM STILL NOT IN THERE WHY**

[2021-04-23 11:53] wgyt commented on #108
You should follow the instructions in #71 to add yourself to the contributors list

[2021-04-23 11:54] RedGuy12 commented on #108
@all-contributors add @iltersinavv for translation

[2021-04-23 11:54] #108 closed

[2021-04-30 18:06] 22yeetz22 commented on #71
@all-contributors add @22yeets22 for bugs

[2021-05-01 23:53] Tacodude7729 commented on #71
@all-contributors add Tacodude7729 for Code, bugs and ideas

[2021-05-02 11:41] iqnite commented on #71
@all-contributors add @iqnite for bugs

[2021-05-03 16:49] hello34090 commented on #71
@all-contributors add @hello34090 for translating (plz)

[2021-05-04 05:32] Secret-chest commented on #71
@all-contributors add @Secret-chest for code

[2021-05-06 09:38] piw-piw commented on #71
@all-contributors add @piw-piw for translation, ideas

[2021-05-06 14:33] TheBugCoder commented on #71
@all-contributors add @TheBugCoder for translation

[2021-05-09 10:43] DevCascade commented on #71
@all-contributors add @DevCascade for translation

[2021-05-11 20:09] hello34090 commented on #71
@all-contributors add @hello34090 for translation

[2021-05-12 13:45] Sly-Little-Fox commented on #71
@all-contributors add @Sly-Little-Fox for code, translation

[2021-05-16 19:41] 22yeetz22 commented on #71
@all-contributors add @22yeetz22 for ideas

[2021-05-20 10:11] wgyt commented on #71
@all-contributors add @wgyt for code
https://github.com/ScratchAddons/ScratchAddons/pull/2430#issue-633484871

[2021-06-01 07:05] Ale2010-scratch commented on #71
I am ale_2010 on scratch! Can i contribute to scratch addons updates? thank you very much!

[2021-06-01 08:48] Hans5958 commented on #71
@Ale2010-scratch

Contributions of any kind are welcome. [Read how you can contribute](https://scratchaddons.com/docs/faq/#how-can-i-contribute-to-scratch-addons).

Thanks for the interest, dude!

[2021-06-01 09:14] Hans5958 commented on #6
@all-contributors add SheepTester for code

[2021-06-01 09:14] Hans5958 commented on #6
@all-contributors add ErrorGamer2000 for code

[2021-06-01 09:15] Hans5958 commented on #6
@all-contributors add ErrorGamer2000 for code

[2021-06-01 13:22] scratchusernamemrtbts commented on #71
@Hans5958 sorry i’m not very active on translating   I need to learn online all day and have lots of homework so the translation isn’t finished yet

[2021-06-01 14:11] Hans5958 commented on #71
That's fine. On my end, nothing changes if someone's inactive (including taking down from the contributors page). Everything's voluntarily, so it's okay.

[2021-06-09 18:17] CST1229 commented on #71
So to get on the contributors list (with proof), do I need to comment on this issue or the [PR I contributed](https://github.com/ScratchAddons/ScratchAddons/pull/2619)? The sentences seem contradicting.

[2021-06-09 23:35] Hans5958 commented on #71
Sorry for the confusion. What I mean is the PR that is created by @allcontributors in this repository, that you do by doing the command.

[2021-06-12 01:14] ShermanYeung commented on #71
@all-contributors add @GravityV for translating

[2021-06-12 01:15] ShermanYeung commented on #71
@all-contributors add @GravityV for translating

[2021-06-12 02:00] RedGuy12 commented on #71
@allcontributors add @ShermanYeung<https://github.com/ShermanYeung> for translating

________________________________
From: allcontributors[bot] ***@***.***>
Sent: Friday, June 11, 2021 8:15:22 PM
To: ScratchAddons/contributors ***@***.***>
Cc: Paul Reid ***@***.***>; Mention ***@***.***>
Subject: Re: [ScratchAddons/contributors] Have contributed? Get your name on the list here! (January 2021) (#7

[2021-06-12 11:50] RedGuy12 commented on #71
@allcontributors add @ShermanYeung for translation
________________________________
From: allcontributors[bot] ***@***.***>
Sent: Friday, June 11, 2021 9:00:21 PM
To: ScratchAddons/contributors ***@***.***>
Cc: Paul Reid ***@***.***>; Mention ***@***.***>
Subject: Re: [ScratchAddons/contributors] Have contributed? Get your name on the list here! (January 2021) (#71)

@RedGuy12<https://github.com/R

[2021-06-12 13:33] CST1229 commented on #71
@allcontributors add @CST1229 for code and bug

[2021-06-16 10:18] GitHub027 commented on #71
@all-contributors add @mouse_sausage for ideas, code

[2021-06-16 10:20] GitHub027 commented on #71
https://scratch.mit.edu/users/mouse_sausage/

[2021-06-16 10:40] GitHub027 commented on #71
add @mouse_sausage for ideas, code, bug

[2021-06-16 11:12] CST1229 commented on #71
You use GitHub usernames for this, not Scratch usernames.

[2021-06-16 11:28] RedGuy12 commented on #71
add @github027 for ideas, code, bug
________________________________
From: CST1229 ***@***.***>
Sent: Wednesday, June 16, 2021 6:13:10 AM
To: ScratchAddons/contributors ***@***.***>
Cc: Paul Reid ***@***.***>; Mention ***@***.***>
Subject: Re: [ScratchAddons/contributors] Have contributed? Get your name on the list here! (January 2021) (#71)

add @mouse_sausage for ideas, code, bug

You use GitHub

[2021-06-17 20:32] GitHub027 commented on #71
@all-contributors add @GitHub027 or code, translation, and doc

[2021-06-18 07:59] GitHub027 commented on #71
@all-contributors can you add @GitHub027  for ideas, bug, code, translation?

[2021-06-18 08:08] GitHub027 commented on #71
all-contributors still don't add me. Why?

[2021-06-18 08:42] GitHub027 commented on #71
@all-contributors can you add @GitHub027 for ideas, bug, code, translation?

[2021-06-18 10:11] CST1229 commented on #71
The pull request has to be merged by the managers of this repo.

[2021-06-18 19:59] carlospage commented on #71
@all-contributors add @carlospage for translation

[2021-07-01 16:42] RedLight-Scratch commented on #71
@all-contributors add @RedLight-Scratch for bug, ideas

[2021-07-08 21:22] Cool-Scratcher commented on #71
@all-contributors add @Cool-Scratcher for video

[2021-07-09 11:13] TheBugCoder commented on #71
@all-contributors add @TheBugCoder  for translation

[2021-07-10 15:42] Hans5958 opened #136 "Have contributed? Get your name on the list here! (July 2021)"
So, you have contributed in the Scratch Addons development, whether it's code, docs, or even an idea? If so, you are eligible for your name to be added to the list, and also be featured on https://scratchaddons.com/contributors.

We are following the all-contributors specification, and this repository is the catch-all contributors list on all repositories on the Scratch Addons' repository.

To be

[2021-07-10 15:45] #71 closed

[2021-07-17 07:27] GitHub027 commented on #136
hey

[2021-07-17 07:30] GitHub027 commented on #136
@all-contributors add @GitHub027  for bug

[2021-07-17 07:31] GitHub027 commented on #136
I don't see

[2021-07-17 08:12] GitHub027 commented on #136
@all-contributors add @mouse_sausage  for bug

[2021-07-17 08:16] GitHub027 commented on #6
@all-contributors add @GitHub027 for bugs, ideas

[2021-07-17 08:16] GitHub027 commented on #6
well I don't see myself

[2021-07-18 01:02] lisa-wolfgang commented on #6
@all-contributors add lisa-wolfgang for code

[2021-07-18 01:07] lisa-wolfgang commented on #6
@all-contributors add @lisa-wolfgang for code

[2021-07-20 08:18] CST1229 commented on #136
#132

[2021-07-26 06:44] Sreehari521 commented on #136
I also want to be a contributer. But I hav'nt contributed. What should I do?

[2021-07-26 06:53] Hans5958 commented on #136
@Sreehari521

Read this section on the FAQ. https://scratchaddons.com/docs/faq/#how-can-i-contribute-to-scratch-addons

[2021-07-26 15:47] sfederici commented on #136
I guess I have bug reports and ideas too. But I will let you decide if they are enough :)

[2021-07-27 02:08] Sreehari521 commented on #136
@all-contributors add @Sreehari521  for ideas

[2021-07-27 09:25] Sreehari521 commented on #136
I have contributed and I am not in the list , why?

[2021-07-27 09:25] Sreehari521 commented on #136
I have contributed and I am not in the list , why?

[2021-07-27 09:25] Sreehari521 commented on #136
I have contributed and I am not in the list , why?

[2021-07-27 09:28] CST1229 commented on #136
The pull request has to be merged for you to appear.

[2021-07-27 09:30] Sreehari521 commented on #136
How can it be merged?

[2021-07-27 11:00] CST1229 commented on #136
It's merged when the managers of this repository decide to. To speed it up you can provide proof.

[2021-07-28 10:09] GitHub027 commented on #136
same

[2021-07-28 10:41] CST1229 commented on #136
Please answer https://github.com/ScratchAddons/contributors/pull/132#issuecomment-864365180.

[2021-07-28 12:30] GitHub027 commented on #136
Have contributed? Get your name on the list here! (July 2021)
#136
Hans5958 opened this issue 18 days ago · 17 comments
I S S U E

[2021-07-28 12:31] GitHub027 commented on #136
What if I got banned, can I add an addon?
If yes, I wish I make: "Ignore bans [recommended]

[2021-07-28 12:37] GitHub027 commented on #136
@all-contributors add @Hans5958 for bug
@all-contributors add @Hans5958 for code, translation, and doc
@all-contributors can you add @Hans5958 for ideas?

[2021-07-28 12:38] GitHub027 commented on #136
please add @Someone for code, doc and infra

[2021-07-28 12:39] GitHub027 commented on #136
@all-contributors add @Someone for code, doc, and infra

[2021-07-28 12:45] RedGuy12 commented on #136
As long as you can still test it.

Impossible

[2021-07-28 17:19] GitHub027 commented on #136
I will try

[2021-07-28 17:23] GitHub027 commented on #136
My username is mouse_sausage btw

[2021-07-28 17:33] CST1229 commented on #136
It was your quote triggering it.

[2021-07-28 23:49] Samq64 commented on #136
@all-contributors add @Samq64 for bug reports and code.

[2021-07-30 20:55] CodeGuy92 commented on #136
@all-contributors add @CodeGuy92 for code, ideas

[2021-07-30 20:55] CodeGuy92 commented on #136
o that was fast-

[2021-08-04 17:48] GitHub027 commented on #136
ADD ME TO THE LIST OR I WILL HACK YOU!!! >:(

[2021-08-04 18:22] CST1229 commented on #136
[Did you even read anything of this?](https://github.com/ScratchAddons/contributors/pull/132#issuecomment-889990533)

[2021-08-05 03:18] alphakids381 commented on #136
@all-contributors add <alphakids381> for <contributions>

[2021-08-05 15:17] Medericoder commented on #136
@all-contributors add @Medericoder for bug

[2021-08-05 18:10] era2010-coder commented on #136
@all-contributors can you add @era2010-coder for ideas?

[2021-08-07 09:59] Nik0lyaZ opened #146 "@all-contributors add @Nik0lyaZ for translation"
@all-contributors add @Nik0lyaZ for translation

[2021-08-07 10:07] CST1229 commented on #146
Uhh.. Comment on the [pinned issue](https://github.com/ScratchAddons/contributors/issues/136) instead of making an issue with the name.

[2021-08-08 11:46] Nik0lyaZ commented on #146
@all-contributors add @Nik0lyaZ for translation (transifex.com/user/profile/Nikolyas)

[2021-08-29 08:16] Ninjadragonmc commented on #136
@all-contributors add @Ninjadragonmc for bug

[2021-08-30 08:56] Medericoder commented on #136
@all-contributors add <Medericoder> for <ideas>

[2021-08-30 08:57] Medericoder commented on #136
@all-contributors add <Medericoder> for <ideas>

[2021-08-30 08:57] Medericoder commented on #136
@all-contributors add Medericoder for ideas

[2021-08-30 16:40] CST1229 opened #150 "2 entries for LankyBox01"
![bug](https://user-images.githubusercontent.com/68464103/131373841-9fe6b005-347b-4392-bd7e-05d7b5bfb3eb.png)
(LankyBox01 was previously CodeGuy92)

[2021-09-15 18:45] e-coders commented on #136
Hello! I want to also Contribute Scratch Addons. How Did I Contribute it?

[2021-09-15 19:06] RedGuy12 commented on #136
@e-coders read https://scratchaddons.com/docs/faq/#how-can-i-contribute-to-scratch-addons

[2021-09-16 06:04] GreypathPro commented on #136
Hey! I've contributed by adding more language features.
**@Greypath**

[2021-09-20 00:13] LegoManiac04 commented on #136
@all-contributors add LegoManiac04 for ideas, bug

[2021-09-20 00:20] LegoManiac04 opened #152 "README.md leads to wrong issue"
In the README.md the link in _"Have contributed in any way? Read how to put your name [here](https://github.com/ScratchAddons/contributors/issue/12)."_ leads to a 404, and not the [correct link](https://github.com/ScratchAddons/contributors/issues/136).
Not a big issue, but I thought I would point it out.

[2021-09-20 01:11] RedGuy12 commented on #152
Feel free to PR.

[2021-09-20 06:54] e-coders commented on #136
I've not contributed, I want to make something. please help me!!

[2021-09-20 11:14] #152 closed

[2021-09-20 13:19] Sreehari521 commented on #136
@allcontributors  add @Sreehari521 for ideas, code and bugs

[2021-09-21 00:52] #146 closed

[2021-09-21 07:28] e-coders commented on #136
@allcontributors add @e-coders  for Ideas, code, Fixes and bugs

[2021-09-23 18:43] Medericoder commented on #136
@all-contributors add @Medericoder for translation

[2021-09-25 17:43] e-coders commented on #136
@all-contributors add @e-coders for an Addon

[2021-09-25 17:44] e-coders commented on #136
@all-contributors add @e-coders for code, bug, ideas, and test

[2021-09-25 17:44] e-coders commented on #136
I've added this - https://github.com/ScratchAddons/ScratchAddons/pull/3554 Project Fullscreen

[2021-09-25 18:07] RedGuy12 commented on #136
Closing because it works when closed still

[2021-09-25 18:07] #136 closed

[2021-09-25 18:17] e-coders commented on #136
?

[2021-09-25 18:23] RedGuy12 commented on #136
@all-contributors still works when the issue is closed

[2021-09-26 12:59] RedGuy12 commented on #136
@all-contributors Add @Nik0lyaZ as a contributor for translation.

[2021-09-26 13:00] RedGuy12 commented on #136
@all-contributors add @e-coders for ideas

[2021-09-26 13:00] RedGuy12 commented on #136
Hm

[2021-09-26 14:22] e-coders commented on #136
Oh!! Thanks!!

[2021-09-30 14:53] #150 closed

[2021-10-10 17:12] Miala-python commented on #136
Thank you

[2021-10-18 22:30] fupicat commented on #136
@all-contributors add @Fupicat for bug and translation

[2021-10-30 16:59] ilbailba commented on #136
@all-contributors add @ilbailba for Turkish translations

[2021-10-30 17:00] e-coders commented on #136
hi

[2021-10-30 17:01] ilbailba commented on #136
hi @e-coders !

[2021-10-30 17:02] e-coders commented on #136
Hi!! I'm in site of Scratch addons contributors. Hope you will also come on!

[2021-10-30 17:03] ilbailba commented on #136
hopefully... how long will it take me to get to the contributors site?

[2021-10-30 18:23] ilbailba commented on #136
hopefully... how long will it take me to get to the contributors site @e-coders ?

[2021-10-30 18:40] LegoManiac04 commented on #136
@ilbailba Once a contributor checks out the pull request the bot made, and confirms that you have contributed to said things, the pull request will be merged and you'll be added.

It all depends when a contributor checks it out, but expect maybe a couple days or so ^^

[2021-10-30 18:49] ilbailba commented on #136
thanks!

[2021-11-02 04:01] chills-vibe commented on #136
@all-contributors add @chills-vibe for Vietnamese translation.

[2021-11-09 09:50] GreypathPro opened #164 "Hi"
# SPAM POLICY

## Supported Versions

We have got versions from 3.4 till 4.1, so please check which one to use. There is no 3.5 as is was broken, so we removed it.

| Version | Supported          |
| ------- | ------------------ |
| 4.1.x   | :white_check_mark: |
| 4.0.x   | :white_check_mark: |
| 3.9.x   | :x:                |
| 3.8.x   | :white_check_mark: |
| 3.7.x   | :white_check_mark: |
| 3.

[2021-11-09 12:58] RedGuy12 commented on #164
what

[2021-11-09 12:58] #164 closed

[2021-11-10 16:50] iqnite commented on #136
@all-contributors add iqnite for bug

[2021-12-20 12:15] johnny263 commented on #136
@all-contributors add @johnn6263 for translation

[2021-12-20 12:15] johnny263 commented on #136
@all-contributors add @johnn263 for translation

[2021-12-20 12:15] johnny263 commented on #136
@all-contributors add @johnny263 for translation

[2021-12-20 12:22] johnny263 commented on #136
really?

[2021-12-20 12:29] johnny263 commented on #136
@all-contributors add @johnny263 for translation

[2021-12-20 12:30] johnny263 commented on #136
Why I can not see my name on contributed?

[2021-12-20 13:35] RedGuy12 commented on #136
i need to confirm your contribution first

[2021-12-28 06:24] hasnain123333 commented on #136
Hasnain12333 helped for bug and i did'nt see my credits

[2021-12-28 06:24] hasnain123333 opened #168 "Hasnain12333 helped for bug and i did'nt see my credits in scratch addons"
Hasnain12333 helped for bug and i did'nt see my credits

_Originally posted by @hasnain123333 in https://github.com/ScratchAddons/contributors/issues/136#issuecomment-1001890894_

[2021-12-28 07:06] LegoManiac04 commented on #136
@hasnain123333 - Contributions aren't added automatically,.
You or someone else will comment here following the [directions in the top post](https://github.com/ScratchAddons/contributors/issues/136#issue-941274484), which will open a PR for a contributor to look over.

Since I happened to see this, I'll do it for you-
@all-contributors add hasnain123333 for bug

[2021-12-28 14:22] hasnain123333 opened #170 "The Scratch messaging keeps lagging while showing"
this not only my problem but my friends too who uses this addons some even removed this addons please solve it

[2021-12-30 14:03] #168 closed

[2022-01-04 01:28] Anhuysam opened #171 "Can l"
Can l be a scratch addons contributors

[2022-01-14 03:24] jumpycoke commented on #136
@all-contributors add @jumpycoke for suggesting ideas

[2022-01-14 12:43] #171 closed

[2022-01-17 04:49] jumpycoke commented on #136
@all-contributors add @jumpycoke for suggesting new addons

[2022-01-17 04:50] jumpycoke commented on #136
@all-contributors add @jumpycoke for suggesting ideas

[2022-01-17 16:13] RedGuy12 commented on #136
@all-contributors add newcat07 for translation

[2022-01-17 16:57] RedGuy12 commented on #136
@all-contributors add kebabo for translation

[2022-01-27 19:47] iqnite commented on #136
@all-contributors add iqnite for bug

[2022-02-07 02:47] Hans5958 commented on #6
Adding few commiters that haven't been added

[2022-02-07 02:48] Hans5958 commented on #6
@allcontributors add @ZenithRogue for code

[2022-02-07 02:48] Hans5958 commented on #6
@allcontributors add @itta611 for code

[2022-02-07 02:50] Hans5958 commented on #6
@allcontributors add @Looky1173 for docs

[2022-02-07 03:31] Hans5958 opened #183 "Have contributed? Get your name on the list here! (February 2022)"
So, you have contributed in the Scratch Addons development, whether it's code, docs, or even an idea? If so, you are eligible for your name to be added to the list, and also be featured on https://scratchaddons.com/contributors.

We are following the all-contributors specification, and this repository is the catch-all contributors list on all repositories on the Scratch Addons' repository.

To be

[2022-02-07 03:34] #183 closed

[2022-02-07 06:16] BarelySmooth commented on #183
@all-contributors add @BarelySmooth for code

[2022-02-07 16:19] Chiroyce1 commented on #183
@all-contributors add @Chiroyce1 for docs

[2022-02-10 19:29] Evrick14 commented on #183
@all-contributors add @Evrick14 translation

[2022-02-14 12:29] Norbiros commented on #183
@all-contributors add Norbiros for translation

[2022-02-18 11:16] Chiroyce1 commented on #183
@all-contributors add @Chiroyce1 for code ([#4264](https://github.com/ScratchAddons/ScratchAddons/pull/4264))

[2022-02-19 10:04] diaowinner commented on #183
@all-contributors add @diaowinner for translation

[2022-02-22 10:08] johnny263 commented on #183
@all-contributors add @johnny263 for translation

[2022-02-22 16:50] Evrick14 commented on #183
@all-contributors can you add @Evrick14 for ideas?

[2022-02-24 14:13] Evrick14 commented on #183
@all-contributors can you add @Hans5958 for ideas?

[2022-02-24 14:14] Evrick14 commented on #183
@all-contributors can you add @Evrick14 for ideas?

[2022-02-24 23:27] Dhuls-Scratch commented on #183
@all-contributors add Dhuls-Scratch for code

[2022-02-25 00:16] RedGuy12 commented on #183
@all-contributors add @Dhuls-Scratch for code?

[2022-02-25 00:47] RIMOPA commented on #183
@all-contributors add @RIMOPA for Ideas

[2022-03-01 20:48] R081N-08 commented on #183
@all-contributors add @R081N-08 for translation

[2022-03-03 12:43] Jazza-231 commented on #183
@all-contributors add <Jazza-231> for <Ideas (HD upload, etc)>

[2022-03-03 14:37] RedGuy12 commented on #183
It doesn't work if you edit it

It should trigger on this quote tho

[2022-03-03 14:38] RedGuy12 commented on #183
@all-contributors add @Jazza-231 for Ideas

[2022-03-03 22:59] R081N-08 opened #198 "@R081N-08 (me) not on contributors list anymore"
Yesterday, I was successfully added to the contributors list for translating, however, my name is now no longer there. I could be wrong, but after looking at .all-contributorsrc, it seems as if I have been replaced with somebody else by the bot (line 1132-1140).  I'd appreciate it if this could this be fixed. Thanks in regards!

[2022-03-04 01:31] RedGuy12 commented on #198
Whoops that was my fault
Looks like I accidentally removed someone else too

@all-contributors add rimopa for ideas
@all-contributors add @R081N-08 for translation

[2022-03-04 01:31] RedGuy12 commented on #198
@all-contributors add rimopa for ideas

[2022-03-04 01:31] RedGuy12 commented on #198
@all-contributors add @R081N-08 for translation

[2022-03-04 01:32] #198 closed

[2022-03-08 08:19] shock59 commented on #183
@all-contributors add @shock59 for video

[2022-03-08 08:24] shock59 commented on #183
@all-contributors add @Aid0nModder for video

[2022-03-08 15:02] gaker19sc commented on #183
@all-contributors add @gaker19sc for translation

[2022-04-13 11:31] BAndris0909 commented on #183
@all-contributors add @BAndris0909 for translation

[2022-05-17 16:32] GitHub027 commented on #183
Where can i have source code? (I'm making an addon)

[2022-05-17 19:19] Norbiros commented on #183
Scratch Addons' source code? Here: https://github.com/ScratchAddons/ScratchAddons

[2022-06-27 23:17] DNin01 commented on #183
@all-contributors add @DNin01 for ideas

[2022-07-01 16:48] CowBloke commented on #183
@all-contributors add CowBloke for translation

[2022-07-23 13:25] MaterArc commented on #183
https://github.com/all-contributors add @MaterArc for bug reports, security, maintenance, and documentation.

[2022-07-26 21:48] MaterArc commented on #183
@all-contributors add @MaterArc for bug

[2022-07-29 16:19] Norbiros commented on #183
@all-contributors add @Norbiros for bug, code, doc

[2022-07-29 19:21] RIMOPA commented on #183
@all-contributors add @RIMOPA translations

[2022-07-30 21:33] MaterArc commented on #183
@all-contributors add @MaterArc for [bug](urlhttps://github.com/all-contributors add @MaterArc for https://github.com/ScratchAddons/ScratchAddons/issues/4927

[2022-07-30 21:34] MaterArc commented on #183
@all-contributors add @MaterArc for [bug](https://github.com/all-contributors add @MaterArc for https://github.com/ScratchAddons/ScratchAddons/issues/4927)

[2022-07-30 21:34] MaterArc commented on #183
@all-contributors add @MaterArc for bug (https://github.com/ScratchAddons/ScratchAddons/issues/4927)

[2022-07-30 21:59] BroJac5246 commented on #183
@all-contributors add @BroJac5246 for code, bug, and ideas

[2022-08-01 13:16] CubesterYT commented on #183
@all-contributors add @CubesterYT for bug [4560](https://github.com/ScratchAddons/ScratchAddons/issues/4560)

[2022-08-09 17:43] RedGuy12 commented on #183
@all-contributors add @Jazza-231 for mod
@all-contributors add @Late-Is-Cool for mod

[2022-08-09 17:43] RedGuy12 commented on #183
https://github.com/all-contributors add @Jazza-231 for mod

[2022-08-09 17:43] RedGuy12 commented on #183
@all-contributors add @Late-Is-Cool for mod

[2022-08-09 17:44] RedGuy12 commented on #183
fine

[2022-08-26 16:20] Aid0nModder opened #223 "Remove "Community Moderator" from me."
At this exact moment I am no longer a moderator.

[2022-08-26 17:56] RedGuy12 commented on #223
Past moderators have it too. It's like how we don't remove credits for people who haven't reported bugs in a while

[2022-08-26 17:56] #223 closed

[2022-08-27 22:14] penguinmoose commented on #183
@all-contributors add @penguinmoose for example, ideas

[2022-09-14 05:23] Hans5958 commented on #183
@allcontributors add @FunctionalMetatable for code

[2022-10-19 13:14] Wjplatformer commented on #183
@allcontributors add @Wjplatformer for translation and docs

[2022-11-03 13:05] RedGuy12 commented on #183
@allcontributors add @BelkaBoi for translate

[2022-11-03 13:06] RedGuy12 commented on #183
@allcontributors add @BelkaBoi for translation